optimizer:
  name: adam
  lr: 1.0e-3
  weight_decay: 0

train:
  epoch: 500
  batch_size: 4096
  save_model: false
  loss: pairwise
  log_loss: false
  test_step: 3
  patience: 5
  reproducible: true
  seed: 2023

test:
  metrics: [recall, ndcg]
  k: [10, 20, 40]
  batch_size: 256

data:
  type: general_cf
  name: gowalla

model:
  name: hccf
  keep_rate: 0.5
  layer_num: 2
  reg_weight: 1.0e-7
  cl_weight: 1.0
  temperature: 0.1
  embedding_size: 32
  mult: 1.0
  hyper_num: 128
  leaky: 1.0